.featured{
    background-color: $black;
    color: white;
}

.btn.btn-auto{
    background-color: $yellow;
    color: $black;
}

.btn.btn-auto:hover{
    background-color: $black;
    color: $yellow;
}

.btn.btn-bid {
    border-radius: 0;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    width: 200px;
}

.btn.btn-noborder {
    border-radius: 0;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}

.btn.btn-black:hover {
    background-color: $yellow;
    color: $black;
}

.item-container{
  transition: box-shadow 1s;
  box-shadow: none;
  padding-bottom: 5px;
}

.item-container:hover{
    box-shadow: 2px 5px 8px #c1c1c1;
}

.btn-sort{
    width: 100%;
}

.footer{
    background: #eaeaea;
}

pre.description{
    font-size: 1.3em;
    font-family: "Nunito", sans-serif;
    border: solid thin #e8e8e8;
    padding: 1em;
}

pre {
    font-size: 1.1em;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre{
    margin: 20px 0;
    height: 200px;
    overflow: hidden;
}
